---
import BaseLayout from "../../layouts/BaseLayout.astro";
import GithubCard from "@components/GithubCard.astro";
---

<BaseLayout title = "Proggetti" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <GithubCard
    title="Oxidized Assistant"
    img="/projects/oxidized-assistant.png"
    desc="Un alternativa a Home Assistant creata usando Rust"
    url="https://github.com/Oxidized-Assistant"
    badge="WIP"
  />
  
  <div class="divider my-0"></div>

  <GithubCard
    title="Hotkeys"
    img="/projects/hotkeys.png"
    desc="Onestamente, volevo solamente una macro per aprire il terminale ma AutoHotkey doveva essere il peggior software mai creato"
    url="https://github.com/Brodino96/hotkeys",
    badge="NEW"
  />
  <div class="divider my-0"></div>
</BaseLayout>
